<!DOCTYPE html>
<html lang="en">
<head>
  <title>Result</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

      <div  style="padding-below:20px;width:auto; top: 50%;background-color:#79a3b1;color:#a20a0a;font: 25px Trattatello, fantasy; text-align:center;">
            {{ message }}
      </div>


</body>
</html>
