<!DOCTYPE html>
<html lang="en">
<head>
  <title>Result</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/style/css/util.css">
  <link rel="stylesheet" type="text/css" href="/style/css/main.css">
<!--===============================================================================================-->
</head>
<body>
      <div class="limiter" style="width:auto">
        <div class="container-table100">
          <div class="wrap-table100" style="background-color:#79a3b1">
            <div class="table100 ver5 m-b-110" >
              <div class="table100-head" >
                <table >
                <thead id="tbHead_table_1" class="head"></thead>
                </table>
              </div>

              <div class="table100-body js-pscroll">
                <table>
                  <tbody id="tbMain_table_1"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div  style="padding-top:10px;width:auto; background-color:#a0c1b8;color:#555555;font: 25px Trattatello, fantasy; text-align:center;">
            Real time quotes of listed coins at {{ time }}
      </div>

      <div class="limiter" style="width:auto">
        <div class="container-table100">
          <div class="wrap-table100" style="background-color:#a0c1b8">
            <div class="table100 ver5 m-b-110" >
              <div class="table100-head" >
                <table >
                <thead id="tbHead_table_2" class="head"></thead>
                </table>
              </div>

              <div class="table100-body js-pscroll">
                <table>
                  <tbody id="tbMain_table_2"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


    <p hidden id="table_1">{{ table_1 }}</p>
    <p hidden id="table_2">{{ table_2 }}</p>


    <script type="text/javascript">

      var table_1 =  JSON.parse(document.getElementById("table_1").innerHTML);
      var table_2 =  JSON.parse(document.getElementById("table_2").innerHTML);

       var table = [table_1, table_2]

       window.onload = function(){

        var i = 0;
        while(i <= 1){
          var t = table[i]
          var thead = document.getElementById(`tbHead_table_${i+1}`);
          var tcol = getDataCol(t);
          thead.appendChild(tcol);


          var element = Object.keys(t[Object.keys(t)[0]]);
          var tbody = document.getElementById(`tbMain_table_${i+1}`);

          for(e of element){
            var row = getDataRow(t, e);
            tbody.appendChild(row);
         }

        i+=1;

        }
       }




       function getDataCol(t){
         var col = document.createElement('tr');
         col.className = "row100 head";
         const index = "Currency";
         var element = Object.keys(t);
         element = [index].concat(element);
         for(e of element){

            var v = document.createElement('th');
            v.className = "cell100";
            v.innerHTML = e;
            col.appendChild(v);

         }
         return col;
         }


       function getDataRow(t, e){
         var row = document.createElement('tr');
         row.className = "row100 body";

        var v = document.createElement('td');
        v.innerHTML = e;
        row.appendChild(v);

          for(tt in t){
            var v = document.createElement('td');
            var digit = Number(t[tt][e]).toFixed(2).toString();
            v.innerHTML = digit;
            row.appendChild(v);
          }

         return row;
         }

    </script>

</body>
</html>
